.Home {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: white;
  &-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(62, 64, 66);
    line-height: 28px;
    letter-spacing: -0.3px;
  }
  &-itemBox {
    display: flex;
    flex-wrap: wrap;
  }
}
